/* ทีม */
.team-section {
    margin-top: 1rem;
    text-align: center;  /* ทำให้หัวข้ออยู่กลาง */
}

.team-members {
    display: flex;
    gap: 2rem;  /* เพิ่มช่องว่างระหว่างสมาชิก */
    justify-content: center;  /* จัดสมาชิกให้อยู่ตรงกลาง */
    flex-wrap: wrap;  /* ถ้าหน้าจอเล็กให้สมาชิกแต่ละคนเรียงใหม่ในแถวถัดไป */
}

/* รูป Blue Lock Eleven */
.blue-lock-eleven {
    margin-bottom: 0.3rem;  /* เพิ่มช่องว่างด้านล่าง */
}

.blue-lock-eleven img {
    width: 100%;  /* ให้ขนาดของรูปเต็มความกว้างของ parent container */
    max-width: 600px;  /* กำหนดขนาดสูงสุดของรูปให้ใหญ่ขึ้น */
    height: auto;  /* ให้สูงของรูปปรับตามอัตราส่วน */
    margin-bottom: 1rem;
    border-radius: 0;  /* ลบขอบมน เพื่อให้เป็นรูปสี่เหลี่ยม */
}

.member {
    text-align: center;
    max-width: 150px;  /* กำหนดขนาดสูงสุดของแต่ละสมาชิก */
    margin-bottom: 1rem;  /* เพิ่มช่องว่างระหว่างสมาชิก */
}

.member img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-bottom: 0.5rem;
    transition: transform 0.3s;
}
/* ขยายรูปนักเตะ */
.member img:hover {
    transform: scale(1.1);
}

.member h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.member p {
    font-size: 1rem;
    color: #666;
}

/* เพิ่มลักษณะของลิงก์เมื่อ hover */
.member a {
    text-decoration: none; /* ลบเส้นใต้ (default ของลิงก์) */
    color: inherit; /* ใช้สีเดียวกับข้อความปกติ */
}

.member a:hover {
    color: #007bff; /* เปลี่ยนสีเมื่อ hover (สีฟ้า) */
    text-decoration: underline; /* เพิ่มเส้นใต้เมื่อ hover */
}

/* ปรับให้แต่ละ section ขึ้นบรรทัดใหม่ */

/* สำหรับการจัดระเบียบแต่ละตำแหน่งให้แยกแถว */
.team-position.Striker {
    flex-basis: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; /* ลดช่องว่างด้านล่าง */
}

.team-position.Midfield {
    margin-top: 0.1rem; /* ลดช่องว่างระหว่าง Goalkeeper และตำแหน่งก่อนหน้า */
    margin-bottom: 0.5rem; /* ลดช่องว่างด้านล่าง */
    clear :both;
    flex-basis: 100%;
}

.team-position.Defender {
    margin-top: 0.1rem; /* ลดช่องว่างระหว่าง Goalkeeper และตำแหน่งก่อนหน้า */
    margin-bottom: 0.5rem; /* ลดช่องว่างด้านล่าง */
    clear :both; 
    flex-basis: 100%;
}

.team-position.Goalkeeper {
    flex-basis: 100%;
    margin-top: 0.1rem; /* ลดช่องว่างระหว่าง Goalkeeper และตำแหน่งก่อนหน้า */
    margin-bottom: 0.5rem; /* ลดช่องว่างด้านล่าง */
}

.team-position h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}